<h1>The Jackhuahuas</h1>
  <div class="row" id="users-index">
    <% @users.each do |user| %>

       <div class="user-column col-xs-6 col-sm-4 col-lg-3">
         <div>
          <% if user.avatar? %>
            <div class='user-image-container'>
              <%= link_to image_tag(user.avatar.bigger.url, class: 'user-image'), user %>
            </div>
          <% else %>
            <%= link_to user do %>
              <div class="user-index-no-pic"><p>No image</p></div>
            <% end %>
          <% end %>
          <p><%= link_to user.name, user %></p>
         </div>
       </div>

    <% end %>
  </div>
<%= will_paginate @users %>

<style>
@media (max-width: 500px) {
 .user-index-no-pic {
    height: 100px;
    width: 125px;
  }
  .user-index-no-pic p {
    padding-top: 40px;
  }
  .user-image-container {
    height: 100px;
    width: 125px;
    overflow: hidden;
  }
  .user-image {
    width: 100%;
  }
}
</style>


