<h1>The Jackhuahuas</h1>
  <div class="row" id="users-index">
    <% @users.each do |user| %>

       <div class="col-xs-6 col-sm-4 col-lg-3">
         <div>
          <% if user.avatar? %>
            <%= link_to image_tag(user.avatar.bigger.url), user %>
          <% else %>
            <%= link_to user do %>
              <div id="user-index-no-pic"><p>No image</p></div>
            <% end %>
          <% end %>
          <p><%= link_to user.name, user %></p>
         </div>
       </div>

    <% end %>
  </div>
<%= will_paginate @users %>
