<h1>About Jackhuahua.com</h1>

<div class="row" id="about-text">
  <%= image_tag 'sparky.jpg', alt: "Sparky the Jackhuahua", class: "pull-left", id: "sparky-pic-about" %>

  <p>Years ago, I had a little Jackhuahua named Sparky who was the light of my life. I included a couple videos of him below. I thought I had made up the term Jackhuahua, but when I bought the domain Jackhuahua.com, I discovered that it was a designer dog breed in Europe! That inspired me to start <a href="http://jackhuahua.blogspot.com/", target="_blank">my pet project</a> (get it!?), where people could share their Jackhuahuas.</p>

  <p>Now that I'm a web developer, I've created a version of Jackhuahua where you can make your own accounts and galleries. I hope you enjoy it, and if you ever have questions or concerns, you can always email me at <span style='font-style:italic;'>rachel at jackhuahua dot com</span>.</p>

  <p>Visit the original Jackhuahua.com here: <a href="http://jackhuahua.blogspot.com/", target="_blank">http://jackhuahua.blogspot.com</a>.</p>
</div>

<div class="row" id="about-videos">
  <div class="col-md-6 col-xs-12">
    <iframe width="420" height="315" src="https://www.youtube.com/embed/i_rZVHgO0yg" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="col-md-6 col-xs-12">
    <iframe width="420" height="315" src="https://www.youtube.com/embed/8fzYYMk6KNw" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
