<h1>About Jackhuahua.com</h1>

<p><%= image_tag 'sparky.jpg', alt: "Sparky the Jackhuahua", align: "left", hspace: "8" %>Years ago, I was playing with FrontPage, trying to learn it. I needed a topic for my test site, so I chose Jackhuahua.com. I was shocked to find that the dog breed actually existed and was popular. I just thought it was a silly summation of my Sparky.</p>

<p>Now that I'm a web developer, I've created a version of Jackhuahua where you can create your own accounts and galleries. I hope you enjoy it, and if you ever have questions or concerns, you can always email me at rachel at jackhuahua dot com.</p>

<div align="center">
  <%= image_tag 'Rachelsig.jpg', alt: "Rachel Bird" %>
</div>
