<h1>Jackhuahua.com</h1>
<h4><em>The home of Jack Russell/Chihuahua mixes.<em><h4>
  <p>
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
  </p>