<h1>The Jackhuahuas</h1>

<% if policy(Post.new).create? %>
  <%= link_to "Add your dog", new_post_path, class: 'btn btn-success' %>
<% end %>

<% @posts.each do |post| %>
   <div class="media">
     <div class="media-body">
       <h4 class="media-heading">
         <%= link_to post.title, post %>
       </h4>
	       <small>
	         submitted <%= time_ago_in_words(post.created_at) %> ago by <%= post.user.name %><br>
	       </small>
     </div>
   </div>
<% end %>