 <h2>New Gallery for <%= @user.name %></h2>

 <div class="row">
   <div class="col-md-4">
     <h4>Guidelines for galleries</h4>
     <ul class='gallery-guidelines'>
       <li>Post only pictures with <%= @user.name %> in them.</li>
       <li>Keep it PG. This is a family site.</li>
       <li>Galleries accept Markdown. <a href='https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet' target="blank" rel="noopener noreferrer">Markdown Cheatsheet</a></li>
       <li>Thanks for sharing <%= @user.name %> with the community!</li>
     </ul>
   </div>
   <div class="col-md-8">
      <%= render partial: 'form', locals: { user: @user, gallery: @gallery } %>
   </div>
 </div>
