/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";

html, body {
  height: 100%;
}

.nav {
  margin-top: 5px;
  #current-log-in {
    color: white;
    font-weight: 600;
  }
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

ul {
  padding:0 0 0 0;
  margin:0 0 0 0;
}
ul li {
  list-style:none;
  margin-bottom:25px;
}
ul li img {
  cursor: pointer;
  width: 100%;
}

.modal img {
  width: 100%;
}

.btn {
  border-radius: 4px;
}

.hero-spacer {
  text-align: center;
  #title {
    font-weight: 500;
  }
  #byline {
    font-style: italic;
  }
}
