@media (min-width: 768px) {
  .navbar {
    height: 61px;
  }

  .navbar-brand {
  line-height: 28px;
  }
}

@media (max-width: 768px) {
  #about-text {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  #user-name {
    margin-top: 20px;
  }
}

