@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 768px) {
  .navbar {
    height: 61px;
  }

  .navbar-brand {
  line-height: 28px;
  }
}

@media (max-width: 768px) {
  #about-text {
    margin-left: 0;
    margin-right: 0;
  }
  .nav-tabs li a,
  .user-detail {
    font-size: 12px;
  }
}

@media (max-width: 991px) {
  #user-name {
    margin-top: 20px;
  }
}

